.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1 ;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #323232;
  color: white;
  border-radius: 50px;
  border: 1px solid rgb(3, 3, 3);
  margin: 4px;
  cursor: pointer;
  user-select: none;
   
}

.boton-contenedor:hover{
background-color: #5a01a7; 
}

.operador{
background-color: #FD9C22;
 
}

.operador:hover{
  background-color: #ff6600;
}
